{% extends "::base.html.twig" %}

{% block title %}Login{% endblock %}

{% block nav_items %}
    <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="/app_dev.php/register">Registrieren</a>
{% endblock %}

{% block body %}
    {% if error %}
        <div>Anmeldung ist gescheitert</div>
    {% endif %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
