<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="navbar mr-auto navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    {% block nav_items %}
                        <a class="nav-item nav-link active" href="/app_dev.php">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="/app_dev.php/guestbook">Gästebuch</a>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a class="nav-item nav-link" href="/app_dev.php/guestbook/logout">Ausloggen</a>
                            <a class="nav-item nav-link disabled">Angemeldet als: {{ app.user.username }}</a>
                            <a class="nav-item nav-link" href="/app_dev.php/user/index">Benutzersteuerung</a>
                        {% else %}
                            <a class="nav-item nav-link" href="/app_dev.php/login">Anmelden</a>
                            <a class="nav-item nav-link" href="/app_dev.php/register">Registrieren</a>
                        {% endif %}
                    {% endblock %}
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <a class="nav-item nav-link" href="{{ path('user_index', {'_switch_user': '_exit'}) }}">Exit Impersonation</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>